body{
    width: auto;
    height: 100vh;
}
.header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    background: #34495e;
}

div input[type="search"]{
    width: 900px;
    min-height: 47px;
    border-radius: 17px;
    background: #efeeee;
}
input::placeholder{
    background: url(search.svg) no-repeat;
	background-position: right; 
    padding-left: 10px;
}
div .myroom{
    width: 100px;
    height: 50px;
    border-radius: 15px;
}
/*Корзина*/
.casse{
    display: flex;
    flex-direction: column;
    align-items: center;

}
 .casse input[type="button"]{
    border-radius: 5px;
 }
 .casse input[type="text"]{
    text-align: center;
    width: 45px;
    height: 36px;
 }
 .casse h2,
 .casse p{
    margin: 10px 0;
    text-align: center;
    color: #a3aab2;
    text-transform: uppercase;
    font-weight: bolder;
 }
 .cash{
    display: flex;
    flex-direction: column;
    justify-content: center;
 }
 .cash p{
    font-weight: bolder;
    font-style: italic;
    margin: 10px 0;
 }
 .cash button{
    width: 100%;
    margin: 10px 0;
    height: 40px;
    border-radius: 7px;
    text-transform: uppercase;
    font-weight: bolder;
    color: #a3aab2;
    background: #34495e;
    cursor: pointer;
    transition: transform 0.25s;;
 }
 .cash button:hover {
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
    background:#53ea93;
    color: #283136;
  }
 .button_title{
    border: none;
    background: none;
    cursor: pointer;
 }
.home{
    display: flex;
    margin-top: 100px;
}
.sidebare{
    width: 700px;
    margin-left: 50px;
}
.sidebare h2{
    margin: 15px 0;
}
.sidebare ul li{
    list-style-type: none;
}
/*Фильтр по цене*/
.range-filter{
    padding-top:10px;
    width:240px;
    margin-left: 50px;
    margin-bottom:10px;
}
.range-controls{
    position:relative;
    height:80px;
    margin-bottom:15px;
    padding:0 30px;
    background:#34495e;
    border-radius:5px;
    overflow:hidden;
}
.scale{
    margin-top:39px;
    height:2px;
    background:#d7dcde;
}
.bar{
    height:2px;
    background:#00ca74;
}
.toggle{
    position:absolute;
    top:30px;
    left:30px;
    width:4px;
    height:4px;
    border:8px solid white;
    background:#ababab;
    cursor:pointer;
    border-radius:50%;
}
.min-toggle{
    left: 25px;
}
.max-toggle{
    left:200px;
}
input{
    width:75px;
    padding:8px 10px;
    margin-left:10px;
    border:none;
    background:#34495e;
    font-size:16px;
    font-family:"Tahoma", sans-serif;
    text-align:center;
    color:#283136;
    border-radius:5px;
    color:white;
}
input:first-child{
    margin-right:14px;
}

.main{
    width: 100%;
    /*display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;*/
    margin-right: 50px;
}

/*.main div{
    max-width: 220px;
    width: 100%;
    height: 270px;
    border: 1px solid rgb(149, 145, 145);
    padding: 10px;
    margin: 20px 0;
}*/
.shadows{
    transition: transform 0.25s;
}
.shadows:hover{
    transform: scale(1.05);
}
.main img{
    width: 150px;
    height: 170px;
}
.main div h1{
    margin: 7px 0;
    color: rgb(183, 179, 179);
    text-align: left;
}
.main form p{
    color: rgb(183, 179, 179);
    text-align: left;
}
.main form button{
    margin-top: 10px;
    border: none;
    background: none;
    float: right;
    cursor: pointer;
    transition: transform 0.25s;
}
.main form button svg:hover{
    transform: scale(1.1);

}
.main ul li{
   padding-top: 30px;

}
button.btn.btn-primary.mess{
    background: none;
    border: none;
    position:relative;
    left: 100%;
    bottom: 100px;

}
button.btn.btn-primary.mess svg{
    color: #464440;

}
/*страница товара*/
.product{
    margin: 100px 50px 30px 50px;
}
.product a{
    text-transform: uppercase;
    font-weight: bolder;
    margin-left: 40px;
    font-size: 1.3em;
    color: #515d63;
    cursor: pointer;
    position: relative;
    text-decoration: none;
}
.product a::before {
	content: '';
	position: absolute;
	left: 0; bottom: -5px;
	width: 0;
	height: 1.5px;
	background-color: rgb(32, 170, 69);
}
.product a:hover::before{
	width: 100%;
}
.product a::before {
	transition: width 0.35s;
}
/*slider*/
.uk-position-relative.uk-visible-toggle.uk-light{
    max-width: 700px;
    width: 100%;
    height: 500px;
    margin-left: 50px;
}
/*swiper*/
.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
  }
.swiper-div{
    width: 700px;
    margin-left: 70px;
}
.produkt_div{
    display: flex;
    flex-direction: row;
}
.name_prod{
    margin-left: 70px;
    padding: 50px 200px 0 200px;
    border: solid 1px rgb(210, 207, 207);
    border-radius: 15px;
}
.name_prod h1{
    font-size: 50px;
    color: #646b6e;
}
.name_prod p{
    margin: 40px 0px;

}
.name_prod button{
    margin: 50px 0;
    border: #00ca74 solid;
    width: 170px;
    background: #00ca74;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.25s;
}
.name_prod button:hover{
    transform: scale(1.1);
}
.p_div h3{
    margin: 70px 0 0 100px;
    font-size: 40px;
}
.p_div p{
    margin: 100px;
    font-size: 1.5em;
    color: #515d63;
}
.p_div{
    margin: 50px;
    border: solid 1px rgb(210, 207, 207);
    border-radius: 15px;
}

.div_dl{
    margin: 100px;  
}
.div_dl h1{
    margin-bottom: 30px;
    font-size: 1.8em;
    font-weight: bolder;
    color: #646b6e;
}
.dl-inline{
    margin-bottom: 20px;
}
dl {
    line-height: 24px;
    margin-bottom: 0;
    margin-top: 0;
  }
  
  dt {
    font-weight: bold;
  }
  
  .dt-dotted {
    overflow-x: hidden;
    position: relative;
    width: 700px;
  }
  
  .dt-dotted > span {
    position: relative;
  }
      
  .dt-dotted > span:after {
    color: rgb(201, 196, 196);
    content: '.............................................................................................';
    left: 100%;
    position: absolute;
    top: 0;
  }
  
  dd {
    margin-left: 0;
    position: relative;
    color: #00ca74;
    font-weight: bolder;
    font-style: italic;
  }
  
  .dl-inline > dt {
    clear: left;
    float: left;
    margin-right: 3px;
  }
    
  .dl-inline > dd {
    display: inline-block;
    margin-left: 0;
  }
dt span{
    font-size: 1em;
    color: #515d63;
}
.tov_h1{
    margin: 50px 0 0 100px;
    font-size: 1.9rem;
}

.decor {
	max-width: 700px;
	margin: 0 0 50px 50px;
}

.form-inner {
	padding: 50px;
}
.form-inner input, .form-inner textarea {
	display: block;
	width: 100%;
	padding: 0 20px;
	margin-bottom: 10px;
	background: #E9EFF6;
	line-height: 40px;
	border-width: 0;
	border-radius: 20px;
	font-family: 'Roboto', sans-serif;
}
.form-inner input[type="submit"] {
	margin-top: 30px;
	background: #4b4848;
	border-bottom: 4px solid #221e1c;
	color: white;
	font-size: 14px;
}
.form-inner textarea {
	resize: none;
    margin-left: 10px;
}
.form_h2 {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 24px;
	color: grey;
    margin-bottom: 30px;
}

.coment-box{
    border: 3px solid #d4cfcf;
    margin: 50px 100px 0 100px;
    padding: 30px;
    border-radius: 15px;
}
.coment-box p{
    font-size: 1.3rem;
    font-weight: bolder;
}
.text-coment{
    margin-bottom: 30px;
}
.coment-box svg{
    color: #646b6e;
    cursor: pointer;
    float: right;
}
.coment-box svg:hover{
    color: #00ca74;
}